@import helper._
@(clientId: String)(implicit req: RequestHeader)

@main("Login") {
  @form(routes.AuthController.login) {
    @CSRF.formField
    <input name="client_id" type="hidden" value="@clientId" />
    <input name="email" placeholder="email" />
    <input name="password" type="password" placeholder="password"/>
    <button type="submit">Submit</button>
  }
}
